@import "tailwindcss";

/* ---------------------------------- */
/* Dein Custom Doom CSS               */
/* ---------------------------------- */

/* Grund-Look */
html,
body {
  height: 100%;
  /* WICHTIG: 'overflow: hidden' ENTFERNT, um freies Scrollen zu erlauben */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
